html, body {
    background-color: rgb(81, 81, 81);
}
h1 {
    text-decoration: underline 2px;
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
.propos{
    margin-left: 150px;
    margin-right: 150px;
}
.propos h2{
    text-decoration: underline dotted;
    color: beige;
    text-align: justify;
}
.propos p{
    color: beige;
    text-align: justify;
}